.wrapper {
    width: 1440px;
    margin: 0 auto;
    display: flex;
    gap: 20px;
}

@media (max-width: 1599px) {
    .wrapper {
        width: 90%;
    }
}

@media (max-width: 1399px) {
    .wrapper {
        width: 584px;
        flex-direction: column;
    }
}

@media (max-width: 767px) {
    .wrapper {
        width: 320px;
    }
}
