.btn {
    border-radius: 8px;
    border: 1px solid var(--color-gray);
    cursor: pointer;
    transition: all .2s ease;
}

.btn:disabled {
    cursor: auto;
    opacity: .5;
}

.btn:disabled.btn:hover {
    box-shadow: none;
}

.btn:hover {
    box-shadow: 2px 2px 5px rgba(0,0,0, .5);
}

.btn:active {
    transform: translateY(1px);
    box-shadow: 1px 1px 4px rgba(0,0,0, .5);
}

.appearance {
    animation: appear .3s ease forwards;
}

@keyframes appear {
    0% {opacity: 0;} 100%{opacity: 1;}
}

