.form {
    /* max-width: 484px;
    min-width: 484px; */
    width: 484px;
    min-height: 407px;
    padding: 25px; 
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    border: 1px solid var(--color-gray);
    border-radius: 12px;
}

.title {
    font-size: 20px;
    font-weight: 700;
}

.inp_wrapper {
    width: 100%;
}

.btn_wrapper {
    width: 100%;
}

.cancel {
    width: fit-content;
    margin: auto 0 0 auto;
    padding: 12px 16px;
    animation: cancel .2s ease forwards;
    background-color: var(--color-gray-light);
    /* border: 1px solid var(--color-gray); */
    border-radius: 8px;
    transition: all .3s ease;
    cursor: pointer;
}

.cancel:hover {
    box-shadow: 2px 2px 5px rgba(0,0,0, .5);
}

@keyframes cancel {
    0% {opacity: 0;} 100%{opacity: 1;}
}

@media (max-width: 1399px) {
    .form {
        width: 100%;
    }
    .btn_wrapper {
        margin-top: auto;
    }
}

@media (max-width: 767px) {
    .form {
        min-height: 362px;
    }
}

  