.form {
    width: 398px;
    height: 238px;
    padding: 25px; 
    position: relative;
    border: 1px solid var(--color-gray);
    border-radius: 12px;
}

.title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 12px;
}

.inp_wrapper {
    width: 100%;
}

.btn_wrapper {
    margin: 12px 0;
    width: 100%;
}

@keyframes cancel {
    0% {opacity: 0;} 100%{opacity: 1;}
}

@media (max-width: 1399px) {
    .form {
        width: 100%;
    }
}

  