.card {
    width: 258px;
    height: 100%;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    gap: 12px;
    background-color: var(--color-white);
    border: 1px solid var(--color-gray);
    border-radius: 8px;
    opacity: 0;
    animation-name: card_appear;
    animation-duration: .4s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    cursor: pointer;
}

@keyframes card_appear {
    0%{opacity: 0; margin-left: -16px;} 100%{opacity: 1; margin-left: 0;}
}

.card:hover {
    box-shadow: 2px 2px 5px rgba(0,0,0, .5);
}

.img {
    width: 100%;
    /* height: 30%; */
    border: 1px solid var(--color-gray);
    border-radius: 8px;
    overflow: hidden;
}

.img img {
    width: 100%;
    transition: all 1s ease;
}
.img img:hover {
    transform: scale(1.1);
}

.title {
    font-size: 18px;
    font-weight: 700;
}

.flag {
    height: 16px;
}

.flag img {
    height: 100%;
}

.position {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.location {
    margin-top: 12px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.begin {
    margin-top: 4px;
}

.begin h3 {
    font-size: 14px;
    margin-bottom: 4px;
}

.price {
    font-weight: 700;
    transition: all .3s ease;
}

.open {
    color: var(--color-blue);
    transform: text-shadow .3s ease;
}

.open:hover {
    text-shadow: .5px .5px .5px var(--color-blue);
}
