.list_wrapper {
    position: relative;
    width: 100%;
    height: 0;
}

.list {
    margin-top: 20px;
    padding: 16px 12px;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
    position: absolute;
    top: -4px;
    left: 24px;
    background-color: var(--color-white);
    border: 1px solid var(--color-gray);
    border-radius: 8px;
    opacity: 0;
    transition: all .2s ease;
    animation: list_appear .2s ease forwards;
    z-index: 2;
}

@keyframes list_appear {
    0%{opacity: 0; margin-top: 20px;} 100%{opacity: 1; margin-top: 0px;}
}

.list:hover {
    box-shadow: 2px 2px 5px rgba(0,0,0, .5);
}

.item {
    padding: 8px 12px;
    display: flex;
    align-items: center;
    gap: 12px;
    border: 1px solid var(--color-gray);
    border-radius: 8px;
    cursor: pointer;
    transition: all .2s ease;
}

.item:hover {
    box-shadow: 2px 2px 5px rgba(0,0,0, .5);
}

.item:active {
    transform: translateY(1px);
}

.img {
    height: 16px;
}